@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Page Specific Styles */
@import './pages/home.css';
@import './pages/shop.css';
@import './pages/product.css';
@import './pages/cart.css';